@use "../../styles/functions"

.lineText
    display: flex
    align-items: center
    flex-direction: column
    &__active
        color: #7176F7
    &__line
        width: calc(100% + functions.toRem(10))
        margin-top: functions.toRem(5)
        height: functions.toRem(5)
        background-color: #7176F7

@media (max-width: 1000px)
    .lineText
        &__line
            margin-top: functions.toRem(2)
            width: calc(100% + functions.toRem(5))
            height: functions.toRem(1.5)
