@use "../../../styles/functions"
@use "../../../styles/fontSizes"

.client
    display: flex
    flex-direction: column
    gap: functions.toRem(10)
    align-items: center
    &__image
        width: functions.toRem(300)
        height: functions.toRem(300)
        object-fit: cover
        border-radius: 50%

@media (max-width: 1000px)
    .client
        font-size: fontSizes.$mobileMiddle
        &__image
            width: functions.toRem(180)
            height: functions.toRem(180)
