@use "../../styles/functions"
@use "../../styles/fontSizes"

.clients
    display: block
    margin-top: functions.toRem(50)
    &__title
        width: fit-content
        font-size: fontSizes.$middle
        text-transform: uppercase
        margin: 0 auto
    &__items
        margin-top: functions.toRem(20)
        display: flex
        justify-content: space-between

@media (max-width: 1000px)
    .clients
        &__title
            font-size: fontSizes.$mobileBig
        &__items
            justify-content: center
            flex-wrap: wrap
            & > *
                margin-top: functions.toRem(20)
