@use "../../styles/functions"
@use "../../styles/fontSizes"

.about
    display: block
    margin-top: functions.toRem(50)
    &__content
        display: flex
        gap: functions.toRem(10)
    &__image
        margin-right: functions.toRem(15)
        width: functions.toRem(100)
        height: functions.toRem(100)
        border-radius: 50%
        display: block
        object-fit: cover
    &__message
        text-align: justify
        font-size: fontSizes.$default

