@use "../../styles/fontSizes"
@use "../../styles/functions"

.header
    font-size: fontSizes.$middle
    padding: functions.toRem(25) 0
    display: flex
    align-items: center
    justify-content: space-between
    &__logo
        align-items: center
        display: flex
    &__image
        margin-right: functions.toRem(10)
        width: functions.toRem(30)
    &__accent
        font-weight: bold
        color: #7176F7
    &__link
        transition: .3s all ease
        &:hover
            color: #7176F7
    &__navigation
        font-weight: 300
        display: flex
        & > *:not(:last-child)
            margin-right: functions.toRem(45)

@media (max-width: 1000px)
    .header
        font-size: fontSizes.$mobileMiddle
        &__image
            width: functions.toRem(10)
            margin-right: functions.toRem(3)
        &__navigation
            & > *:not(:last-child)
                margin-right: functions.toRem(10)
